* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
}

.container {
  margin: auto;
  max-width: 1340px;
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  margin: auto;
  padding: 4px 32px;
  color: #FFFCFC;
  background: #FB0505;
  border-radius: 10px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.035em;
  text-align: center;
  max-width: 180px;
  cursor: pointer;
}

.button:hover {
  color: #9E9595;
  background: #AF0000;
}

.slaidservice-arrow {
  display: none;
}

.block__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.block__contacts_color {
  color: #FFFCFC;
}

@media (max-width: 1240px) {
  .container {
    max-width: 768px;
  }
  .slaidservice-arrow {
    display: block;
    width: 22px;
    height: 35px;
    cursor: pointer;
  }
  .block__contacts {
    display: none;
  }
}

@media (max-width: 645px) {
  .container {
    max-width: 600px;
  }
  .button {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.035em;
  }
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 25px;
  background-color: #FDFFFD;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__image {
  width: 69px;
  height: 69px;
  margin-right: 6px;
}

.header-text {
  text-align: center;
}

.header-text__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  letter-spacing: -0.035em;
  margin-bottom: 6px;
  color: #110101;
}

.header-text__subtitle {
  font-family: Roboto Mono;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  color: #120101;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.header-menu__button {
  display: none;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__image {
  width: 45px;
  height: 45px;
  margin-right: 13px;
}

.header-contacts__tel {
  font-family: Roboto Mono;
  font-size: 26px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: #100000;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-list__link {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #110101;
  cursor: pointer;
  border-bottom: 1px solid outline;
}

.nav-list__link:hover {
  border-bottom: 1px solid #110101;
}

.menu-btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 52px;
  width: 100%;
  height: 7px;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.menu-btn:before {
  content: '';
  width: 52px;
  height: 7px;
  display: block;
  position: absolute;
  background-color: #000000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-top: 15px;
}

.menu-btn:after {
  content: '';
  width: 52px;
  height: 7px;
  display: block;
  position: absolute;
  background-color: #000000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-top: -15px;
}

@media (max-width: 1240px) {
  .header-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 21px 20px;
    position: relative;
  }
  .header-logo {
    width: 55%;
    margin-bottom: 10px;
  }
  .header-logo__image {
    width: 65px;
    height: 65px;
  }
  .header-text__title {
    font-size: 40px;
    line-height: 39px;
  }
  .header-text__subtitle {
    font-size: 12px;
    line-height: 11px;
  }
  .header-menu {
    max-width: 176px;
    margin-left: 100px;
  }
  .header-menu__button {
    display: block;
  }
  .header-menu__nav {
    display: none;
  }
  .header-menu__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    padding: 20px 0;
    max-width: 770px;
    width: 100%;
    background: rgba(158, 149, 149, 0.9);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    top: 155px;
  }
  .header-contacts__image {
    width: 36px;
    height: 36px;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .nav-list__item {
    margin-bottom: 5px;
  }
  .nav-list__link {
    color: #FFFCFC;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-btn-active {
    height: 0;
  }
  .menu-btn-active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-btn-active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
}

@media (max-width: 645px) {
  .header-block {
    padding: 13px 5px;
  }
  .header-logo {
    margin-bottom: 11px;
    width: 64%;
  }
  .header-logo__image {
    width: 45px;
    height: 45px;
  }
  .header-text__title {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.035em;
    margin-bottom: 0;
  }
  .header-text__subtitle {
    width: 100%;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 0em;
  }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    width: 100%;
    max-width: 280px;
  }
  .header-menu__nav {
    padding: 10px 0;
  }
  .header-menu__active {
    top: 102px;
  }
  .header-menu__button {
    font-size: 13px;
    line-height: 13px;
    letter-spacing: -0.035em;
    padding: 3px 20px;
    margin: 0;
    max-width: 110px;
  }
  .header-contacts {
    display: none;
  }
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin-bottom: 10px;
  }
  .nav-list__item:last-child {
    max-width: 700px;
    width: 100%;
  }
  .nav-list__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.035em;
  }
  .menu-btn {
    max-width: 40px;
    width: 100%;
    height: 5px;
    -ms-flex-item-align: flex-center;
        align-self: flex-center;
    margin-top: 10px;
  }
  .menu-btn:before {
    content: '';
    width: 40px;
    height: 5px;
    margin-top: 10px;
  }
  .menu-btn:after {
    content: '';
    width: 40px;
    height: 5px;
    margin-top: -10px;
  }
  .menu-btn-active {
    height: 0;
  }
  .menu-btn-active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-btn-active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
}

@media (max-width: 405px) {
  .header-logo {
    width: 67%;
  }
  .header-logo__image {
    width: 33px;
    height: 33px;
  }
  .header-text__title {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.035em;
  }
  .header-text__subtitle {
    font-size: 7px;
    line-height: 7px;
    letter-spacing: 0em;
  }
  .header-menu {
    max-width: 212px;
  }
  .header-menu__active {
    top: 87px;
  }
  .header-menu__button {
    font-family: Roboto Flex;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -0.035em;
    padding: 3px 20px;
  }
  .menu-btn {
    max-width: 30px;
    width: 100%;
    height: 4px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 10px;
  }
  .menu-btn:before {
    content: '';
    width: 30px;
    height: 4px;
    margin-top: 7px;
  }
  .menu-btn:after {
    content: '';
    width: 30px;
    height: 4px;
    margin-top: -7px;
  }
  .menu-btn-active {
    height: 0;
  }
  .menu-btn-active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 0;
  }
  .menu-btn-active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 0;
  }
}

.hero {
  padding: 98px 0;
  background: url("../img/bg-hero.jpg") center no-repeat;
  background-size: cover;
  color: #FFFDFD;
  letter-spacing: -0.035em;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 454px;
  max-width: 519px;
}

.hero-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 50px;
}

.hero-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 690px;
  height: 454px;
}

.social-taxi {
  margin-bottom: 45px;
}

.social-taxi:last-child {
  margin-bottom: 0;
}

.social-taxi__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 30px;
}

.social-taxi__item {
  font-size: 30px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.035em;
}

@media (max-width: 1240px) {
  .hero {
    padding: 39px 0 80px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero-video {
    margin-bottom: 46px;
  }
  .hero__frame {
    max-width: 1240px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero-social {
    max-height: 300px;
  }
  .hero-block {
    padding: 0 21px;
    width: 100%;
  }
  .hero-video {
    margin-bottom: 27px;
    padding: 0;
  }
  .hero-title {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.035em;
    margin-bottom: 13px;
  }
  .social-taxi__title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.035em;
  }
  .social-taxi__list {
    margin-bottom: 13px;
  }
  .social-taxi__item {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.035em;
    margin-bottom: 9px;
  }
  .videoplayer_controls_item {
    display: none;
  }
}

@media (max-width: 454px) {
  .hero-video {
    height: 320px;
  }
}

.service {
  background: #FDFEFF;
}

.service-block {
  padding: 45px 25px;
}

.service-title {
  font-size: 71px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0.12em;
  margin-bottom: 77px;
  text-align: center;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  width: 100%;
  max-height: 105px;
  margin-bottom: 57px;
}

.service-list__number {
  font-size: 140px;
  font-weight: 600;
  line-height: 106px;
  text-align: center;
  color: #B7AEAE;
  margin-right: 27px;
}

.service-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 105px;
}

.service-list__text_title {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 17px;
  color: #0C0000;
}

.service-list__text_subtitle {
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1em;
  text-align: left;
}

.service-contacts__text {
  max-width: 573px;
  margin: auto;
  text-align: center;
  font-family: Roboto Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1em;
  margin-bottom: 57px;
}

.service-contacts__button {
  display: none;
}

.slaidservice-list {
  display: none;
}

@media (max-width: 1240px) {
  .service-block {
    padding: 21px 20px;
  }
  .service-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }
  .service-list {
    display: none;
  }
  .service-contacts__button {
    display: block;
  }
  .slaidservice-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
  .slaidservice-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95px;
    width: 600px;
  }
  .slaidservice-list__number {
    font-size: 120px;
    font-weight: 600;
    line-height: 95px;
    letter-spacing: 0em;
    margin-right: 27px;
    color: #B7AEAE;
  }
  .slaidservice-list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 453px;
    height: 95px;
  }
  .slaidservice-list__text_title {
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 17px;
    color: #0C0000;
  }
  .slaidservice-list__text_subtitle {
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.1em;
    text-align: left;
  }
  .number-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 190px;
    margin: auto;
    margin-bottom: 45px;
  }
  .number-slide__ordinal {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #B7AEAE;
  }
}

@media (max-width: 710px) {
  .service-block {
    padding: 13px 5px;
  }
  .service-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.035em;
    margin-bottom: 13px;
  }
  .service-contacts__text {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    margin-bottom: 20px;
    max-width: 310px;
  }
  .slaidservice-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .slaidservice-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 300px;
    height: 165px;
  }
  .slaidservice-list__number {
    font-size: 72px;
    line-height: 80px;
    margin-right: 0;
  }
  .slaidservice-list__text {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
  }
  .slaidservice-list__text_title {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    margin-bottom: 7px;
    text-align: center;
  }
  .slaidservice-list__text_subtitle {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    text-align: center;
  }
  .slaidservice-arrow {
    width: 13px;
    height: 20px;
  }
  .slaidservice-arrow__past, .slaidservice-arrow__next {
    width: 13px;
    height: 20px;
  }
}

.vantage {
  background: #443937;
}

.vantage-block {
  padding: 45px 25px;
  color: #FFFDFD;
}

.vantage-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 77px;
}

.vantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vantage-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 568px;
  width: 100%;
  border: 6px solid #B63F21;
  border-radius: 57px;
  padding: 62px 22px;
  margin-bottom: 43px;
}

.vantage-list__image {
  width: 58px;
  margin-right: 24px;
}

.vantage-list__text_title {
  font-family: Roboto Mono;
  font-size: 21px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.vantage-list__text_subtitle {
  font-family: Roboto Mono;
  font-size: 21px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1em;
  text-align: left;
}

.vantage-slide {
  display: none;
}

@media (max-width: 1240px) {
  .vantage-block {
    padding: 21px 20px;
  }
  .vantage-title {
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-bottom: 45px;
  }
  .vantage-list {
    display: none;
  }
  .vantage-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 710px) {
  .vantage-block {
    padding: 13px 5px;
  }
  .vantage-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.035em;
    margin-bottom: 13px;
  }
  .vantage-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .vantage-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
    border: 3px solid #B63F21;
    max-width: 220px;
    height: 230px;
    margin-bottom: 0;
  }
  .vantage-list__image {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .vantage-list__text_title {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    margin-bottom: 7px;
    text-align: center;
  }
  .vantage-list__text_subtitle {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    text-align: center;
  }
}

.card {
  background: url("../img/bg-card.jpg") center no-repeat;
  background-size: cover;
}

.card-block {
  padding: 51px 25px 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

.card-photo__image {
  width: 352px;
  height: 352px;
  border: 6px solid #CA3022;
  border-radius: 53px;
}

.card-slader {
  display: none;
}

@media (max-width: 1240px) {
  .card-block {
    display: none;
    padding: 21px 20px;
  }
  .card-slader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 710px) {
  .card-block {
    padding: 13px 5px;
  }
  .card-photo {
    margin-bottom: 0;
  }
  .card-photo__image {
    width: 220px;
    height: 220px;
    border: 3px solid #B63F21;
  }
}

.recall-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFDFD;
  padding: 51px 25px;
}

.recall-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recall-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 602px;
  margin-bottom: 38px;
}

.recall-list__image {
  width: 40px;
  margin-right: 14px;
}

.recall-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.recall-list__text_title {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.035em;
  text-align: left;
  margin-bottom: 15px;
}

.recall-list__text_subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.035em;
  text-align: left;
}

.recall-slaider {
  display: none;
  width: 100%;
}

.recall-arrow {
  display: block;
  width: 35px;
  height: 45px;
}

.commet {
  margin: 30px 0;
}

.commet-block__input {
  width: 100%;
  margin-bottom: 10px;
}

.commet-button {
  margin-top: 20px;
}

@media (max-width: 1240px) {
  .recall-block {
    padding: 40px 20px;
  }
  .recall-list {
    display: none;
    height: 125px;
  }
  .recall-list__item {
    margin-bottom: 0;
  }
  .recall-slaider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 710px) {
  .recall-block {
    padding: 20px 5px;
  }
  .recall-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .recall-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 220px;
    height: 126px;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recall-list__image {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .recall-list__text_title {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    margin-bottom: 7px;
    text-align: center;
  }
  .recall-list__text_subtitle {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    text-align: center;
    color: #504549;
  }
}

.faq {
  background: #443937;
}

.faq-block {
  padding: 45px 25px;
}

.faq-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 77px;
  color: #FFFDFD;
}

.tabcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFDFD;
  border-radius: 10px;
  padding: 20px 17px;
  margin-bottom: 17px;
}

.tabcontent-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabcontent-header__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.035em;
  margin-right: 30px;
}

.tabcontent-header__image {
  max-width: 35px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tabcontent-header__image_active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tabcontent-text {
  display: none;
  margin-top: 17px;
}

.tabcontent-text__active {
  display: block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.tabcontent-text__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.035em;
  padding-top: 17px;
  border-top: 4px solid #999999;
}

@media (max-width: 710px) {
  .faq-block {
    padding: 13px 5px;
  }
  .faq-title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.035em;
    margin-bottom: 13px;
  }
  .tabcontent-header__title {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    margin-bottom: 7px;
  }
  .tabcontent-header__image {
    width: 30px;
    height: 15px;
  }
  .tabcontent-text__subtitle {
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.035em;
    text-align: left;
  }
}

.footer {
  background: #0E0000;
}

.footer-block {
  padding: 45px 25px;
}

.footer-title {
  font-size: 45px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFDFD;
  margin-bottom: 40px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.footer-contacts__icon {
  width: 61px;
  height: 61px;
  margin-right: 26px;
}

.footer-contacts__text {
  font-family: Roboto Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  color: #FFFDFD;
}

@media (max-width: 1240px) {
  .footer-block {
    padding: 21px 5px;
  }
  .footer-title {
    font-size: 32px;
    line-height: 31px;
    letter-spacing: 0.02em;
    margin-bottom: 45px;
  }
  .footer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-contacts__block {
    margin-bottom: 20px;
    width: 220px;
  }
  .footer-contacts__text {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .footer-contacts__text_phone {
    font-size: 22px;
    color: #FFFDFD;
  }
  .footer-contacts__icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */